body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.blur-background {
  background: url("bghalaman.jpg") no-repeat center center/cover;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1; 
}


.navbar {
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.navbar a:hover {
    background-color: gray;
    transform: scale(1.05);
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 60px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    margin-bottom: 15px;
}

.card h3 {
    margin: 10px 0;
    color: grey;
}

.card p {
    font-size: 14px;
    color: black;
}

.more-button {
    margin-top: 15px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    
}
.more-button:hover {
    background: gray;
    color: white;
}